@charset "utf-8";
a[href^="tel:"] {
  color: #333!important;
  pointer-events:none;
}
sup {
  font-size: 0.75em!important;
  line-height: 1!important;
  vertical-align: text-top !important;
}
sub {
  font-size: 0.75em!important;
  line-height: 1!important;
  vertical-align: text-bottom !important;
}
ol.c-list-decimal-a { padding-left: 21px; }
.c-list-inline-a:before, .c-list-inline-a:after { content: ""; display: table; }
.c-list-inline-a:after { clear: both; }
.c-list-inline-a { zoom: 1; }
.c-list-inline-a div:first-child, .c-list-inline-a dt { float: left; }
.c-list-inline-a div:last-child, .c-list-inline-a dd { margin-left:0; overflow: hidden; }
.c-textIcon.c-textIcon--new { height: auto!important; }

@media screen and (max-width: 640px) {
  a[href^="tel:"] {
    color: #cf142b!important;
    pointer-events: auto;
  }
}
.u-w-1hem { width: 1.5em!important; }
.u-w-2em { width: 3em!important; }
.u-w-2hem { width: 2.5em!important; }
.u-w-3em { width: 3em!important; }
.u-w-3hem { width: 3.5em!important; }
.u-w-4em { width: 4em!important; }
.u-w-4hem { width: 4.5em!important; }
.u-w-5em { width: 5em!important; }
.u-w-5hem { width: 5.5em!important; }
.u-w-6em { width: 6em!important; }
.u-w-6hem { width: 6.5em!important; }
.u-w-7em { width: 7em!important; }
.u-w-7hem { width: 7.5em!important; }
.u-w-8em { width: 8em!important; }
.u-w-8hem { width: 8.5em!important; }
.u-w-9em { width: 9em!important; }
.u-w-9hem { width: 9.5em!important; }
.u-w-10em { width: 10em!important; }
.u-w-10hem { width: 10.5em!important; }
.u-w-11em { width: 11em!important; }
.u-w-11hem { width: 11.5em!important; }
@media screen and (max-width: 640px) {
  .u-sp-w-1hem { width: 1.5em!important; }
  .u-sp-w-2em { width: 3em!important; }
  .u-sp-w-2hem { width: 2.5em!important; }
  .u-sp-w-3em { width: 3em!important; }
  .u-sp-w-3hem { width: 3.5em!important; }
  .u-sp-w-4em { width: 4em!important; }
  .u-sp-w-4hem { width: 4.5em!important; }
  .u-sp-w-5em { width: 5em!important; }
  .u-sp-w-5hem { width: 5.5em!important; }
  .u-sp-w-6em { width: 6em!important; }
  .u-sp-w-6hem { width: 6.5em!important; }
  .u-sp-w-7em { width: 7em!important; }
  .u-sp-w-7hem { width: 7.5em!important; }
  .u-sp-w-8em { width: 8em!important; }
  .u-sp-w-8hem { width: 8.5em!important; }
  .u-sp-w-9em { width: 9em!important; }
  .u-sp-w-9hem { width: 9.5em!important; }
  .u-sp-w-10em { width: 10em!important; }
  .u-sp-w-10hem { width: 10.5em!important; }
  .u-sp-w-11em { width: 11em!important; }
  .u-sp-w-11hem { width: 11.5em!important; }
}
