@charset "utf-8";

/*************************************************
CSS
/cmn_us_v1/css/component.css

15.02.01
update:15.02.25
*************************************************/

/* ------------------------- TOC
Contents Layout
Data
------------------------- */



/* ============================================================ Contents Layout */
/* ============================== Thumb Text */
.us_thumb_txt { overflow: hidden; }

.us_thumb_txt .img_l { float: left; width: 50%; margin-right: 16px; }
.us_thumb_txt .img_r { float: right; width: 50%; margin-left: 16px; }
.us_thumb_txt .img_l img,
.us_thumb_txt .img_r img { display: block; width: 100%; height: auto; }
.us_thumb_txt .dtl { overflow: hidden; }
.us_thumb_txt .dtl .ttl { font-size: 18px; font-weight: bold; }
.us_thumb_txt .dtl .txt {}

/* @media */
@media (max-width: 640px) {
	.us_thumb_txt .img_l,
	.us_thumb_txt .img_r { float: none; width: 100%; margin-left: 0; margin-right: 0; margin-bottom: 8px; }
}


/* ============================== Image List */
.us_img_lst { overflow: hidden; }
.us_img_lst li { float: left; margin-top: 8px; margin-right: 8px; }
.us_img_lst li img { vertical-align: bottom; }


/* ============================== News Section */
.us_news_sct { margin-top: 16px; border-top: 1px solid #c9c9c9; }
.us_news_sct .us_news_lst { display: block; padding: 8px 0; border-bottom: 1px solid #c9c9c9; }
.us_news_sct .us_news_lst:hover { text-decoration: none; }
.us_news_sct a.us_news_lst { padding: 8px 32px 8px 0; background: url("/-/Media/Ricoh/Common/cmn_v1/img/icon_s_right_01.png) 100% 50% no-repeat; }
.us_news_sct dl { overflow: hidden; }
.us_news_sct dl dt { float: left; }
.us_news_sct dl dt .day { display: inline-block; width: 7em; font-weight: bold; }
.us_news_sct dl dt .lb_ico { display: inline-block; margin-right: 16px; }
.us_news_sct dl dd { overflow: hidden; }
.us_news_sct a.us_news_lst:hover dl dd { text-decoration: underline; }
.us_news_sct dl dd p { display: inline; }
.us_news_sct .us_more_lnk { display: block; padding: 8px 0; border-bottom: 1px solid #c9c9c9; }

/* @media */
@media (max-width: 640px) {
	.us_news_sct a.us_news_lst { background-image: url("/-/Media/Ricoh/Common/cmn_v1/img/icon_m_right_01.png);
		-webkit-background-size: 24px 24px;
		background-size: 24px 24px;
	}
	.us_news_sct dl dt,
	.us_news_sct dl dd { display: block; float: none; }
}

/* Category Top */
.us_news_sct.us_news_top dl dt { min-width: 14em; }

/* @media */
@media (max-width: 640px) {
	.us_news_sct.us_news_top dl dt { min-width: auto; }
}


/* ============================== Share Section */
.share_sct { height: 32px; }



/* ============================================================ Data */
/* ============================== DataList */
.us_data_lst { overflow: hidden; zoom: 1; }
.us_data_lst .us_data_lst_ttl { float: left; clear: both; }
.us_data_lst .us_data_lst_dtl {}

/* @media */
@media (max-width: 640px) {
	.us_data_lst .us_data_lst_ttl { float: none; }
	.us_data_lst .us_data_lst_dtl { padding-left: 0 !important; }
}
