@charset "utf-8";

/*************************************************
CSS
/cmn_us_v1/css/gl_header.css

update:19.02.26
*************************************************/

/* ------------------------- TOC
Global Header
Media Queries
---------------------------- */



/* ============================================================ Global Header */
/* ============================== Header Utility */
/* hd_ut_lang_select */
#gl_header .hd_ut .hd_ut_lang_select .hd_ut_lang_lst ul { width: 200px; }


/* ============================== Header Bread Crumb */
#gl_header .hd_brd_crmb .hd_shr_sct { overflow: hidden; height: 32px; }
#gl_header .hd_brd_crmb .hd_shr_sct .ttl { margin-top: 6px; }



/* ============================================================ Media Queries */
@media (max-width: 1020px) and (min-width: 641px) {
	/* ============================================================  Global Header */
	/* ============================== Global Navigation */
	/* search */
	#gl_header #gl_nv .gl_nv_lst li.gl_nv_src.dsp_normal { display: none; }
	#gl_header #gl_nv .gl_nv_lst li.gl_nv_src.dsp_middle {
		display: block !important;
		float: left;
		padding: 0;
	}
	#gl_header #gl_nv .gl_nv_lst li.gl_nv_src.dsp_middle .gl_nv_lst_mn {
		padding: 8px 8px 3px;
	}
	#gl_header #gl_nv .gl_nv_lst li.gl_nv_src.dsp_middle .gl_nv_lst_mn .gl_nv_src_mn {
		display: block;
		width: 24px;
		height: 24px;
		background: none;
		background: url("/-/Media/Ricoh/Common/cmn_v1/img/gl_header/gl_nv_src_btn_w.png) 50% 50% no-repeat;
		text-indent: -9999px;
	}
	#gl_header #gl_nv .gl_nv_lst li.gl_nv_src.dsp_middle .gl_nv_lst_mn:hover .gl_nv_src_mn,
	#gl_header #gl_nv .gl_nv_lst li.gl_nv_src.dsp_middle .gl_nv_lst_mn.open .gl_nv_src_mn {
		background-image: url("/-/Media/Ricoh/Common/cmn_v1/img/gl_header/gl_nv_src_btn.png);
	}

	#gl_header #gl_nv .gl_nv_lst li a.gl_nv_lst_mn:hover:after,
	#gl_header #gl_nv .gl_nv_lst li a.gl_nv_lst_mn.open:after,
	#gl_header #gl_nv .gl_nv_lst li a.gl_nv_lst_mn.act:hover:after {
		display: none;
	}
	#gl_header #gl_nv .drop_down_wrp,
	#gl_header #gl_nv .drop_down_wrp.open {
		display: none !important;
		height: 0;
		-webkit-transition: none;
		transition: none;
	}
	#gl_header #gl_nv .drop_down,
	#gl_header #gl_nv .drop_down.open {
		display: none !important;
		animation: none;
	}
}
